---
import Layout from "../layouts/Layout.astro";
import About from "@/components/About.svelte";
---

<Layout title="Hello Friend">
  <header
    class="flex w-full items-center justify-center bg-indigo-500 border-b border-slate-200"
  >
    <h1 class="text-gradient text-3xl font-semibold h-16 flex items-center">
      Test Team
    </h1>
  </header>
  <main class="h-full bg-indigo-500">
    <About />
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-position: 0%;
  }
</style>
